.background-color-cover {
	background-color: black;
	background-size: cover;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -11;
}

.background-image {
	background-image: url("images/desktop-background.jpg"), radial-gradient(white, black);
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: multiply;
	opacity: .5;
	position: fixed;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -10;
}

.hero-title {
	color: white;
	text-shadow: 2px 5px 10px rgba(0, 0, 0, .9);
}

body {
	font-family: "Open Sans", sans-serif; 
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	margin: 0;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background: linear-gradient(#39373A, #0F0D0F);
	color: white;
	opacity: .9;
	box-shadow: 0 5px 15px rgba(255, 255, 255, .3);
}

a {
	text-decoration: none;
}

.nav-link {
	display: inline-block;
	margin: 0 2%;
	cursor: pointer;
	padding: 10px 15px 10px;
	text-decoration: none;
	color: white;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-link:hover {
	background: rgba(255, 255, 255, .2);
}

a[id="about-me-section"]:target ~ #main section.about-me-section {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

a[id="portfolio-section"]:target ~ #main section.portfolio-section {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
}

a[id="skills-section"]:target ~ #main section.skills-section {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
}

header {
	padding: 26% 0;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.full-name-display {
	display: inline-block;
	color: #FF530D;
}

section {
	min-height: 800px;
	padding: 2% 0 4%;
	background-color: #bbb;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

h2 {
	margin-bottom: 8%;
}

.about-me-section {
	background-color: #39373A;
	color: white;
}

.about-me-section-title {
	color: #E39F1C;
	text-shadow: 2px 5px 10px rgba(0, 0, 0, .8);
}

.portfolio-section {
	background-color: #E39F1C;
}

.portfolio-section-title {
	color: #39373A;
	text-shadow: 2px 4px 10px rgba(0, 0, 0, .6);
}
.project-item-container {
	height: 350px;
	width: 450px;
	overflow: hidden;
}

.project-item {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid black;
	z-index: 3;
}

.project1-background {
	background-image: url("images/warp-zone-screenshots.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project2-background {
	background-image: url("images/sabai-screenshot.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project3-background {
	background-image: url("images/circle-it-screenshot.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project4-background {
	background-image: url("images/flavorus-screenshot.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project1-background::after, .project2-background::after, .project3-background::after, .project4-background::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .8);
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.project1-background:hover, .project2-background:hover, .project3-background:hover, .project4-background:hover {
	-webkit-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	background-color: rgba(0, 0, 0, .7);
	background-blend-mode: multiply;
	z-index: 4;
}

.project1-background:hover::after, .project2-background:hover::after, .project3-background:hover::after, .project4-background:hover::after {
	opacity: 1;
}

.project-item-content-container {
	-webkit-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8);
	color: white;
	padding: 0 5%;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project-description-text {
	height: 125px;
}

.project1-background:hover > .project-item-content-container, .project2-background:hover > .project-item-content-container, .project3-background:hover > .project-item-content-container, .project4-background:hover > .project-item-content-container {
	opacity: 1;
}

.project-link-container {
	display: inline-block;
	text-align: center;
	height: 35px;
	width: 50%;
	padding: 0;
}

.early-development-notice {
	display: inline-block;
	font-size: 15px;
}

.github-logo-link {
	display: inline-block;
	float: left;
	height: 35px;
	width: 35px;
	margin: 0 5% 0;
	background-image: url("images/github-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	filter: invert(100%);
	cursor: pointer;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.github-logo-link:hover {
	filter: invert(80%);
}

.github-logo-link:active {
	filter: invert(60%);
	transform: translateY(2px);
}

.live-site-button-link {
	display: inline-block;
	float: right;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 4px 10px black;
	background-color: rgba(0, 122, 255, 1);
	margin: 0 5% 0;
	padding: 5px;
	color: white;
	font-size: 16px;
	text-decoration: none;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button-link-alt {
	margin: 0 auto !important;
	float: none !important; 
}

.live-site-button-link:hover {
	background-color: rgba(0, 122, 255, .8);
}

.live-site-button-link:active {
	background-color: rgba(0, 122, 255, .6);
	box-shadow: 0 2px 10px black;
	transform: translateY(2px);
}

.skills-section {
	background-color: #7FB0A6;
}

.skills-section-title {
	color: #18394A;
	text-shadow: 2px 4px 10px rgba(0, 0, 0, .6);
}

.skill-bar-container {
	display: inline-block;
	height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.skill-description-container {
	display: table;
	height: 50px;
	width: 20%;
	float: left;
}

.first-skill-level-description {
	border-left: 2px solid black;
}

.skill-level-description {
	font-size: 15px;
	border-right: 2px solid black;
}

.skill-description {
	display: table-cell;
	vertical-align: middle;
}

.skill-bar {
	display: inline-block;
	height: 50px;
	width: 20%;
	margin: 0;
	padding: 0;
	float: left;
}

.bar-fill {
	background-color: #642FF9;
/*	border: 1px solid black;
	border-radius: 15px;*/
}

footer {
	background-color: #39373A;
	color: white;
	height: 65px;
	padding: 0 15px;
}

.footer-content-container {
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
}

.footer-links {
	display: inline-block;
	padding: 14px 45px;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.footer-links:hover {
	-webkit-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}

.footer-links:active {
	transform: translateY(2px);
}

.github-footer-icon {
	height: 30px;
	width: 30px;
	filter: invert(100%);
}

.resume-icon {
	display: inline-block;
	height: 36px;
	width: auto;
}

.copyright {
	display: inline-block;
	float: right;
	font-size: 14px;
}

.mailto-link {
	display: inline-block;
	text-decoration: none;
	color: white;
}

@media only screen and (max-width: 640px) {

	.background-image {
		background-size: contain;
	}

	header {
		padding: 16% 0;
	}

	section {
		min-height: 250px;
		padding-left: 3%;
		padding-right: 3%; 
	}

	h1 {
		font-size: 22px;
	}

	h2 {
		font-size: 18px;
	}

	.project-item-container {
		margin: 10px 0 10px;
	}

	p, a, .live-site-button-link {
		font-size: 12px;
	}

	.skill-level-description {
		font-size: 10px;
	}

	.github-logo-link {
		height: 30px;
		width: 30px;
	}

	.footer-links {
		padding: 14px 6px;

	}

	.mailto-link {
		font-size: 18px;
	}


	.copyright {
		font-size: 10px;
	}
}