:root {
	--background: #0A192F;
	--background-light: #112240;
	--primary: #39B5E0;
	--secondary: black;
	--title-text: #CCD6F6;
	--paragraph-text: #8892B0;
	--paragraph-subtext: #747b8f;
	--box-shadow: rgb(19, 19, 19);
}


.background-color-cover {
	background-color: var(--background);
	background-size: cover;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -11;
}

.background-image {
	/* background-image: url("images/neon-lights-background.jpg"), radial-gradient(white, black);
	background: url("images/neon-lights-background.jpg") no-repeat center center fixed, radial-gradient(white, black); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-blend-mode: multiply; */
	/* opacity: .5; */
	/* position: fixed; */
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -10;
}

.hero-title {
	color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
	font-family: "Open Sans", sans-serif; 
	line-height: 1.5;
	margin: 0;
	overflow-x: hidden;
}

main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
}
p {
	margin: 0px 0px 15px;
	padding: 0;
	color: var(--paragraph-text);
	font-size: 20px;
}

nav {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	height: 70px;
	padding: 0 40px;
	background: var(--background)#101B37;
	backdrop-filter: blur(10px);
	color: var(--title-text);
	/* opacity: .9;
	box-shadow: 0 5px 15px rgba(255, 255, 255, .3); */
}

a {
	text-decoration: none;
}

.nav-link {
	display: inline-block;
	align-self: center;
	margin: 0 5px;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 4px;
	text-decoration: none;
	font-size: 13px;
	color: var(--title-text);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-link-resume {
	display: inline-block;
	align-self: center;
	margin: 0 2%;
	cursor: pointer;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 13px;
	color: var(--primary);
	border: 1px solid;
	border-radius: 4px;
	border-color: var(--primary);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-link:hover {
	background: rgba(255, 255, 255, .2);
}

.nav-link-resume:hover {
	background: rgba(100, 255, 218, .2);
}

/* a[id="about-me-section"]:target ~ #main section.about-me-section {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

a[id="portfolio-section"]:target ~ #main section.portfolio-section {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
}

a[id="skills-section"]:target ~ #main section.skills-section {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
} */

header {
	font-family: 'Open Sans', sans-serif;
    color: white;
    position: relative;
    height: 100vh;
}

.hero-text {
    line-height: 1.1;
	margin-bottom: 30px;
}

.hero-intro-text {
	font-size: 16px;
	color: var(--primary);
}

.hero-full-name-text {
	font-size: 60px;
	color: var(--title-text);
}

.hero-description-text {
	font-size: 30px;
	color: var(--paragraph-text);
}

.side-bar-info {
	width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--paragraph-text);
	fill: var(--paragraph-text);
}

.side-bar-info ul {
	display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-bar-info li {
    margin: 10px 0px;
    padding: 0;
    list-style: none;
}


.side-bar-info svg {
	color: var(--paragraph-text);
	fill: var(--paragraph-text);
	width: 22px;
	height: auto;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.side-bar-info svg:hover {
	color: var(--primary);
	fill: var(--primary);
}

.side-bar-info:after {
	content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 20px auto 0;
    background-color: var(--paragraph-text);
}

section {
	/* min-height: 650px;
	padding: 2% 0 4%; */
	/* background-color: #bbb; */
	max-width: 900px;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	margin: 0px auto;
    padding: 100px 0px;
}

.section-title {
	margin: 10px 0px 40px;
	font-size: 32px;
	color: var(--title-text);
	display: flex;
	-webkit-box-align: center;
    align-items: center;
}

.section-title::after {
	width: 200px;
	content: "";
    display: block;
    position: relative;
    top: 0;
    width: 300px;
    height: 1px;
    margin-left: 20px;
	background-color: var(--primary);
}

.about-me-section {
	display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.about-me-paragraph {
}

.self-portrait-container {
	position: relative;
}

.self-portrait-effect {
	position: absolute;
	top: 0;
	left: 0;
    height: 100%;
    width: 100%;
	border-radius: 4px;
	background:rgba(0, 122, 255, .3);
	z-index: 10;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.self-portrait-effect:hover {
	background:rgba(0, 122, 255, .1);
}

.self-portrait {
	position: relative;
    height: auto;
    width: 100%;
	/* flex-basis:50%; */
    /* border-radius: 50%; */
	border-radius: 4px;
    object-fit: cover;
}

.timeline {
	width:100%;
	height: 20px;
	list-style: none;
	text-align: justify;
	margin: 80px auto;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(45%, rgba(255,255,255,0)), color-stop(51%, rgb(255, 255, 255)), color-stop(57%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,0)));
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 45%, rgb(255, 255, 255) 51%, rgba(255,255,255,0) 57%, rgba(255,255,255,0) 100%);
}

.timeline:after {
    display: inline-block;
    content: "";
    width: 100%;
}

.timeline li {
	display: inline-block;
	color: var(--paragraph-text);
	width: 20px;
	height: 20px;
	background: white;
	text-align: center;
	line-height: 1.2;
	position: relative;
	border-radius: 50%;
}
.timeline li:before {
	display: inline-block;
	content: attr(data-year);
	font-size: 26px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline li:before {
	top: -40px;
}
/* .timeline li:nth-child(even):before {
	bottom: -40px;
} */

.timeline li:after {
	display: inline-block;
	content: attr(data-text);
	font-size: 16px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.timeline li:after {
	bottom: 0;
	margin-bottom: -10px;
	transform: translate(-50%, 100%);
}
/* .timeline li:nth-child(even):after {
	top: 0;
	margin-top: -10px;
	transform: translate(-50%, -100%);
} */

.timeline-item {
	cursor: pointer;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.timeline-item.active {
	color: var(--primary);
	background: var(--primary);
}

.timeline-content {
	box-shadow: 0 10px 30px -15px var(--box-shadow);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    border-radius: 4px;
    background-color: var(--background-light);
    /* transition: var(--transition); */
    overflow: auto;
}

.timeline-content-item {
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.timeline-content-item.hidden {
	display: none;
}

.timeline-content-title {
    margin: 0px 0px 10px;
    color: var(--title-text);
    font-size: 24px;
}

.portfolio-section {

}

.projects-grid {
	list-style: none;
    padding: 0px;
    margin: 50px 0px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}

.project-inner {
	box-shadow: 0 10px 30px -15px var(--box-shadow);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    border-radius: 4px;
    background-color: var(--background-light);
    /* transition: var(--transition); */
    overflow: auto;
}

.project-top {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 24px;
}

.folder {

}

.folder-icon {
		height: 48px;
		width: auto;
	fill: var(--primary);
}

.project-links {
display: flex;
justify-content: space-between;
}

.project-link {
	display: flex;
	margin: 0 4px;
	/* padding: 4px 6px; */
	/* border: 1px solid var(--paragraph-text); */
	border-radius: 4px;
	flex-direction: column;
	justify-content: center;
	fill: var(--paragraph-text);
	color: var(--paragraph-text);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project-link-label {
	margin-top: -3px;
	font-size: 12px;
	align-self: center;
}

.github-icon {
	height: auto;
	width: 24px;
	align-self: center;
}

.project-link:hover {
	fill: var(--primary);
	color: var(--primary);
}

.project-title {
	margin: 0px 0px 10px;
    color: var(--title-text);
    font-size: 24px;
}

.project-description {
    color: var(--paragraph-text);
    font-size: 17px;
}

.project-item {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.project-tech-list {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
	font-size: 12px;
}

.project-tech-list > li {
	color: var(--paragraph-subtext);
	margin-right: 15px;
}

.project1-background {
	background-image: url("images/warp-zone-screenshots.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project2-background {
	background-image: url("images/sabai-screenshot.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project3-background {
	background-image: url("images/circle-it-screenshot.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project4-background {
	background-image: url("images/flavorus-screenshot.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project1-background::after, .project2-background::after, .project3-background::after, .project4-background::after {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .8);
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.project1-background:hover, .project2-background:hover, .project3-background:hover, .project4-background:hover {
	-webkit-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	background-color: rgba(0, 0, 0, .7);
	background-blend-mode: multiply;
	z-index: 4;
}

.project1-background:hover::after, .project2-background:hover::after, .project3-background:hover::after, .project4-background:hover::after {
	opacity: 1;
}

.project-item-content-container {
	-webkit-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8);
	color: white;
	padding: 15px 2%;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.project-item-title {
	margin: 0;
}

.tech-logo {
	margin: 10px 5px 10px;
	padding: 0;
	height: 48px;
	width: auto;
}
.project-description-text {
	height: 125px;
}

.project1-background:hover > .project-item-content-container, .project2-background:hover > .project-item-content-container, .project3-background:hover > .project-item-content-container, .project4-background:hover > .project-item-content-container {
	opacity: 1;
}

.project-link-container {
	display: inline-block;
	text-align: center;
	height: 60px;
	width: 50%;
	padding: 0;
}

.early-development-notice {
	display: inline-block;
	font-size: 15px;
}

.github-logo-link {
	display: block;
	height: 35px;
	width: 35px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("images/github-logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	filter: invert(100%);
	cursor: pointer;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.github-logo-link:hover {
	filter: invert(80%);
}

.github-logo-link:active {
	filter: invert(60%);
	transform: translateY(2px);
}

.github-info-container {
	display: inline-block;
	width: 54px;
	height: 54px;
	text-align: center;
	margin-right: 10px;
}

.github-info-container-long {
	display: inline-block;
	width: 100px;
	height: 54px;
	text-align: center;
	margin-right: 10px;
}

.github-link-label {
	display: block;
	font-size: 14px;
	text-decoration: none;
	color: white;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.github-link-label:hover {
	color: lightgray;
}

.live-site-button-link {
	display: inline-block;
	float: right;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 4px 10px black;
	background-color: rgba(0, 122, 255, 1);
	margin: 5px 5% 0;
	padding: 5px;
	color: white;
	font-size: 16px;
	text-decoration: none;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button-link-alt {
	margin: 0 auto !important;
	float: none !important; 
}

.live-site-button-link:hover {
	background-color: rgba(0, 122, 255, .8);
}

.live-site-button-link:active {
	background-color: rgba(0, 122, 255, .6);
	box-shadow: 0 2px 10px black;
	transform: translateY(2px);
}

.footer-link-container {
	display: flex;
	justify-content: center;
}

.footer-link-container svg {
	color: var(--paragraph-text);
	fill: var(--paragraph-text);
	width: 22px;
	height: auto;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.footer-link-container svg:hover {
	color: var(--primary);
	fill: var(--primary);
}

.footer-content-container {
	display: inline-block;
	height: inherit;
	width: 100%;
	text-align: center;
	vertical-align: center;
	padding-top: 10px;
}

.footer-links {
	display: inline-block;
	margin: 25px 25px;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.footer-links:hover {
	-webkit-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}

.footer-links:active {
	transform: translateY(2px);
}

.github-footer-icon {
	height: 30px;
	width: 30px;
	filter: invert(100%);
	padding-top: 3px;
}

.copyright {
	display: inline-block;
	align-self: center;
	font-size: 14px;
}

.mailto-link {
	display: inline-block;
	text-decoration: none;
	color: white;
	margin-bottom: 5px;
}

/*mobile sizes*/
@media only screen and (max-width: 640px) {
	main {
		padding: 0 25px;
	}

	.about-me-section {
		grid-template-columns: none;
	}

	.timeline {
		width: 95%;
	}
}

/*Ipad sizes*/
@media only screen and (max-width: 1366px) and (min-width: 640px) {
	main {
		padding: 0 25px;
	}

	.timeline {
		width: 95%;
	}
}